
.karhanaPage{
    margin-bottom: 100px;
    .container{
        overflow-x: visible;
        .forPhone{
            display: none;
            @include mobile{
                display: block;
            }
            
            .ifc{
                width: 100%;
                height: 100vh;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 100;
                background: #f8f8f8;
                overflow-y: scroll;
                overflow-x: hidden;
                z-index: 1000000000000;
                .space{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    // background: red;
                    height: calc(100vh - 100px)
                }
            }
            .back{
                display: flex;
                padding:15px 25px;
                margin-top: 30px;
                background: white;
                border:1px solid $blue;
                border-radius: 4px;
                font-weight: 600;
                margin-bottom: 20px;
                .img{
                    width: 10px;
                    margin-right: 25px;
                    img{
                        width: 100%;
                    }
                }
            }
        }
        .warning{
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 14px;
        }
        .phonekategori{
            @include center(space-between);
            border-radius: 5px;
            border: 1px solid $gray;
            padding: 11px 14px;
        }
        .karhanaBody{
            display: flex;
            @include mobile{
                flex-direction: column;
                margin-bottom: 100px;
            }
        }
        .navName{ 
            color: $black;
            font-weight: 600;
        }
        .leftNav{
            margin-right: 50px;
            @include mobile{
                display: none;
            }
        }
        .sidenav {
            height: 100%;
            width: 200px;
            padding-top: 20px;
        }
        .downBtn{
            display: flex;
            align-items: center;
            cursor: pointer;
            .dropdown-btn{
                display: flex;
                width: auto;
            }
            &:hover button{
                color: $blue;
            }
        }


        /* Style the sidenav links and the dropdown button */
        .sidenav a, .dropdown-btn, .ifc a{
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            color: $notBlack;
            display: block;
            border: none;
            background: none;
            width: 100%;
            text-align: left;
            outline: none;
            font-size: 16px;
            font-family: 'Segoe UI';
            cursor: pointer;
        }

        /* On mouse-over */
        .sidenav a:hover, .dropdown-btn:hover, .ifc a:hover {
        color: $blue;
        }

        /* Main content */
        .main {
        margin-left: 200px; /* Same as the width of the sidenav */
        padding: 0px 10px;
        }

        /* Add an active class to the active dropdown button */
        .active {
            button{
                color: #2058D4;
            }
        }

        /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
        .dropdown-container {
        display: none;
        padding-left: 20px;
        }

        /* Optional: Style the caret down icon */
        .fa-caret-down {
        float: right;
        padding-right: 8px;
        }
        .show {
            display: block;
        }
        .karhanaPageName,.karhanaPageNameMobile{
            margin-top: 50px;
            margin-bottom: 30px;
            margin-left: 250px;
            font-size: 26px;
            font-weight: bold;
            @include mobile{
                margin-top: 30px;
            }
        }
        .karhanaPageName{
            @include mobile{
                display: none;
            }
        }
        .karhanaPageNameMobile{
            display: none;
            @include mobile{
                display: block;
                margin-left: 0;
            }
        }
        .karhanaContent{
            padding-right: 5%;
            .pic{
                width: 100%;
                border-radius: 5px;
                img{
                    width: 100%;
                }
            }
            .title{
                color: $black;
                font-weight: 600;
                font-size: 24px;
                margin-top: 20px;
                line-height: 32px;
            }
            .karhanaInfo{
                color: $black;
                margin-top:20px;
                font-weight: 400;
                line-height: 22px;
            }
        }
        .tutor{
            font-size: 26px;
            font-weight: 600;
            margin-top: 20px;
            margin-bottom: 30px;
        }
    }
}

.dropActive{
    svg path{
        fill: $blue;
    }
}