<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TSTB</title>
    <link rel="icon" href="/pictures/logo/logo.svg" type="image/icon type">
    <style>
        .adminContainer .main .right a{
            display: flex;
            text-decoration: none;
            color: white;
            background: #585962;
            border-radius: 5px;
            align-items: center;
        }
        .adminContainer .main .right a .text{
            padding: 6px;
        }
    </style>
</head>
<body>
    <div class="adminContainer">
        <div class="main">
            <div class="pageHeader"><span><%= name  %></span></div>
            <div class="right">
                <a href="/<%= link %>/add"><div class="text">Täze döretmek</div><div class="headerBtn"><img src="/pictures/icon/plus.svg"/></div></a>
                <a href="/" class="headerBtn"><img src="/pictures/icon/login.svg" alt=""></a>
                <form id="searchForm" action="/admin/<%= name %>/search" method="post">
                    <div class="headerBtn"><label for="gozleg" class="iconGozleg"><img src="/pictures/icon/gozleg.svg" alt=""></label><span><input id="gozleg" name="search" type="text" placeholder="Gozlemek..."></span></div>
                </form>
            </div>
        </div>
    </div>

    <!-- admin log out bolandanson bashka birin girip bilmez yaly -->
    <script>
        var del = document.querySelector("a.headerBtn");

        del.addEventListener("click",function(){
            sessionStorage.setItem("tstbAdmin","");
        })
    </script>

    <!-- searching -->
    <script>
        var searchBtn = document.querySelector('#searchForm');
        searchBtn.addEventListener("submit",function(e){
            
        })
    </script>
</body>
</html>