<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/pictures/logo/logo.svg" type="image/icon type">
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
    <style>
        .boxHeader{
            margin-bottom: 20px;
        }
        .addHabar .box{
            width: 100% !important;
        }
        .headerCon{
            width: 50% !important;
        }
    </style>
</head>

<body>
    <%- include ('../admin.ejs') %>
    <div class="adminContainer">
        <div class="main">
            <div class="pageHeader">
                <%= name %> 
            </div>
        </div>
    <form action="/admin/banner3" method="POST" id="identifier">
        <div class="adminTable addHabar">
            <div class="box imgBox">
                <div class="boxHeader">Maglumat giriziň</div>
                <div class="headerCon">
                    <label class="mazmuny" for="topTa">Id:</label>
                    <input type="text" name="headerRU" id="topTa" class="header">
                </div>                
            </div>
            <div class="box">

            </div>
            <input class="save" type="submit" value="Ýatda sakla">
        </div>
    </form>
    </div>


    <script>
        let id="<%=id%>"
        var oneTime = true;
        var form = document.querySelector("#identifier");
        form.addEventListener("submit",async function(e){
            e.preventDefault();
            if(oneTime){
                var inputs = document.querySelectorAll('#identifier input');
                var data = {
                    product_id : inputs[0].value,
                }
                oneTime = false;
                var data = await dataSend(data,'<%=host%>/admin/banners/add-product/'+id);
                if(data.msg){
                    location.replace("/banners/getOne/"+id)
                }
                    }
        });
        
        dropActive(1,3);
    </script>
</body>
</html>


