.login{
    .container{
        text-align: center;
        .header{
            margin-top: 35px;
            font-size: 36px;
            font-weight: 600;
            color: $black;
        }
        form{
            width: 390px;
            margin: 0 auto;
            @include mobile{
                width: 330px;
            }
        }
        .title{
            font-size: 24px;
            color: $black;
            margin-top: 20px;
            margin-bottom: 55px;
        }
        input{
            width: 390px;
            padding: 10px 25px;
            color: $gray;
            border-radius: 10px;
            background: #EBEBEB;
            margin-bottom: 30px;
            font-size: 24px;
            border:none;
            outline: none;
            box-sizing: border-box;
            @include mobile{
                width: 330px;
            }
        }
        .forget{
            font-size: 24px;
            margin-bottom: 30px;
            text-align: start;
            a{
                color: $blue;
            }
        }
        input[type="submit"]{
            background: $blue;
            color: white;
        }
        .error{
            margin-bottom: 180px;
            text-align: start;
            color: red;
            font-weight: bold;
        }
        .password{
            position: relative;
            img{
                top: 15px;
                right: 10px;
                position: absolute;
                width: 20px;
                cursor: pointer;
            }
        }
        ::placeholder{
            color: $gray;
        }
    }
}